/* css compatibility with profile */

.topbar_wr {
    z-index : 995;
}

.jras-pcLinks-img .__BASECLASS__-post-FavAdd {
    display : none;
}

#post_list div.comment .reply-link a.__BASECLASS__-addToFavComment, 
.article .ufoot div.comment .reply-link a.__BASECLASS__-addToFavComment,
.__BASECLASS__-addToFavComment {
    margin-left : 22px;
    position : relative;
    white-space : nowrap;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-post-addtofav {
    margin-left : 25px;
}

.__BASECLASS__-addToFavComment:after, .__BASECLASS__-post-addtofav:after  {
    content: " ";
    position: absolute;
    background: rgba(255, 120, 42, 0.51);
    width: 14px;
    height: 14px;
    border-top-right-radius: 6px;
    bottom: 1px;
    vertical-align: middle;
    left: -18px;
    top: 50%;
    margin-top: -7px;
    /* border-bottom: solid 6px #fff; */
    /* border-right: solid 4px; */
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save, .__BASECLASS__-old-reactor-cc.__BASECLASS__-sidebar-addtofav {
   
    display : inline-block;
    margin-top : 0px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tab-list ul li {
    background : #fff1bc;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tab-list ul li.active {
    background : #ffcf78;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tab-list a {
    color : #952b06;
}


.__BASECLASS__-old-reactor-cc .__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll td {
    padding-bottom : 4px;
    padding-top : 4px;
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save, .__BASECLASS__-old-reactor-cc.__BASECLASS__-sidebar-addtofav {
    width: 16px;
    height: 16px;
    background-size: 16px;
    margin-left : 3px;
    margin-right : 3px;
}


.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li.flush > a {
    background-color : #aaff9b;
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save-downloaded:after, 
.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save-notdownloaded:after,
.__BASECLASS__-old-reactor-cc.__BASECLASS__-sidebar-addtofav-added:after {
    top: 6px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 12px;
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save, .__BASECLASS__-old-reactor-cc.__BASECLASS__-sidebar-addtofav {
    image-rendering: auto;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FavFilter-logic {
    margin-right: 0px;
    padding: 0;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-options-table input[type=text] {
    height: 16px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-options-table > tbody > tr > td {
    height: 26px;
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save-notdownloaded:after {
    background-color : rgba(175, 175, 175, 0.91);
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-FavContainer {

    background : #fff;
    padding: 10px 9px;
    border: 1px solid #b56b14;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    border-radius: 5px;
    background: #ffffff;
    overflow: hidden;
    
    min-height: 400px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li {
    margin-top : 3px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu {
    margin-top : 12px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li > a {
    text-decoration: none;
    text-align: center;
    background: #ffc78e;
    display: inline-block;
    border: 1px solid #fab728;
    background-color: white;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 4px;
    float: left;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tooltipster-close {
    line-height: 23px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tooltipster-content {
    font-size : 13.33px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li > a.active {
    background: #ff5c10;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li > a.activeIgnore {
     background : #ea8080; 
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-ModalBox .__BASECLASS__-ModalBox-content a {

    color : #000;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-pagination-item {
    line-height: 26px;
    width: 16px;
    height: 26px;
    font-size: 12px;
    padding-left : 3px;
    padding-right : 3px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__SavePostWrap input, .__BASECLASS__-old-reactor-cc .__BASECLASS__SavePostWrap select {
    display: block;
    width: 100%;    
    height: 26px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__CatList {
    margin-bottom : 6px;
    margin-top : 6px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__Add {
    font-weight : bold;
    display : block;
    height : 26px;
    line-height : 26px;
}

#__BASECLASS__-ModalBox.__BASECLASS__-old-reactor-cc a {
    color: #000;
}

.__BASECLASS__-filters-AdditionButtons table .__BASECLASS__-FavFilter {
    margin : 0px;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav .__BASECLASS__-icon {
    width: 26px;
    height: 26px;
    border-radius: 0px;
    background-size: 16px;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav a {
    padding-right : 0px;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav.active a {
    padding-right : 0px;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav a:hover {
    padding-right : 0px;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav:hover {
    margin-right : 0px;
    z-index : 68;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav.active .__BASECLASS__-icon {
    background-color: rgba(186, 186, 186, 0.5215);
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav {

    margin-right: 0px;
    margin-left: 0px;
    
}

#submenu .__BASECLASS__-MainMenuItem-fav a {
    text-decoration : none;
    margin : 0px;
    padding : 0px;
    display : block;
    width: 100%;
    height: 100%;
}

#submenu div.submenuitem.active.__BASECLASS__-MainMenuItem-fav a {
    background : transparent;
}

#submenu div div.__BASECLASS__-FavItemsCount {
    position: absolute;
    top: -8px;
    font-size: 12px;
    line-height: 1.2;
    background: rgba(237, 85, 0, 0.58039);
    border-radius: 6px;
    line-height: 14px;
    height: 14px;
    padding-left: 3px;
    padding-right: 3px;
    right: -18px;
    z-index: 3;
    
    opacity : 0;
    transition : opacity 0.3s;
}

#submenu div.__BASECLASS__-old-reactor-cc div.__BASECLASS__-FavItemsCount {
    background: rgba(237, 85, 0, 1);
}

#submenu div div.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-1 {
    right: -6px;
    min-width: 14px;
    border-radius: 7px;
}

#submenu div div.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-10 {
    right: -12px;
}


#submenu div div.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-100 {
    right: -20px;
}

#submenu div div.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-1000 {
    right: -24px;
}


#submenu .__BASECLASS__-old-reactor-cc div div.__BASECLASS__-FavItemsCount {
    right : -8px;
}

#submenu div.submenuitem.__BASECLASS__-MainMenuItem-fav:hover .__BASECLASS__-FavItemsCount {
    opacity : 1;
}