/* css main file */

.__BASECLASS__ {
     margin-right : 6px;
}

.__BASECLASS__-FavContainer {
     display : none;
}

.__BASECLASS__-FavContainer.__BASECLASS__-active {
    display : block;
}

.__BASECLASS__-FavContainer {
     margin-bottom : 120px;
     line-height: 0px;
     min-height: 312px;
}

.__BASECLASS__-FavContainer-page {
     line-height: 20px;
}

.__BASECLASS__-post-addtofav {
    margin-left: 20px;
    position: relative;
    margin-right: 10px;
    font-weight: 700;
    color: #586263;
}

/* pagination */

.__BASECLASS__-pagination {
     margin-bottom : 16px;
}

.__BASECLASS__-pagination-item.active, .__BASECLASS__-pagination-item:hover, .__BASECLASS__-pagination-item:focus {
     background : #ffebc2;
}

.__BASECLASS__-pagination-item {
     overflow: hidden;
     padding-left: 3px;
     padding-right: 3px;
     border-radius : 2px;
     text-decoration : none;
     display : inline-block;
     margin-right : 3px;
     line-height : 28px;
     text-align : center;
     width : 32px;
     height : 32px;
     font-size : 16px;
     background : #ffca61;
     border : 2px solid #3c0905;
}

.__BASECLASS__-pagination-item-100 {
     font-size : 12px;
     padding-left: 0px!important;
     padding-right: 0px!important;
}

.__BASECLASS__-tooltipster-wrap.__BASECLASS__-Default-tooltipster {
	padding-top : 6px; /* to avoid onmouse out, usualy dont needed */
    padding-bottom : 6px;
}

.__BASECLASS__-tooltipster-wrap.__BASECLASS__-Default-tooltipster, 
.__BASECLASS__-tooltipster-wrap.__BASECLASS__-ItemTip-tooltipster,
.__BASECLASS__-tooltipster-wrap.__BASECLASS__-tooltipster-error,
.__BASECLASS__-tooltipster-wrap.__BASECLASS__-tooltipster-help  {
     z-index : 1010;
}

.__BASECLASS__-tooltipster-help {

    margin : 0px;
    padding : 0px;
    max-width : 640px;
}

.__BASECLASS__-ItemTip-images {
    height: auto;
    overflow: auto;
    max-height: 300px;
	max-width : 300px;
}

.__BASECLASS__-ItemTip-images  li {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: 0px;
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
	
}

.__BASECLASS__-ItemTip-images  li  img {
	width : 100%;
}

.__BASECLASS__-tooltipster-wrap {
	position : absolute;
	opacity : 0;
	z-index : 60;
	pointer-events: none;
	transition: opacity 0.3s;
}

.__BASECLASS__-tooltipster-container {
	min-width: 210px;
	min-height: 52px;
	margin : 0;
	
    background : rgba(96, 102, 126, 0.9490);
	border : 0px dashed #c5c5c5;
	color : #fff;
    
    /*
    background: rgb(253, 218, 151);
    border: 2px solid #634949;
    color: #060303;
    */
	border-radius : 4px;
	padding : 12px;
}

.__BASECLASS__-tooltipster-container a {
    color : #fff;
    text-decoration-color: inherit;
}

.__BASECLASS__-download-tooltipster .__BASECLASS__-tooltipster-container {
    background: rgba(255, 255, 255, 0.949);
    border: 2px solid #1ec1ff;   
    color: #282828;
}

.__BASECLASS__-download-tooltipster .__BASECLASS__-tooltipster-content a {
    padding: 6px 12px;
    display: inline-block;
    color: #282828;
}

.__BASECLASS__-download-tooltipster .__BASECLASS__-tooltipster-content a.active {
    background: #fecc65;
}

.__BASECLASS__-download-tooltipster .__BASECLASS__-tooltipster-close {

    border: 2px solid #1ec1ff;
    width: 26px;
    height: 26px;
    line-height: 21px;
    background: #fff;
}

.__BASECLASS__-download-tooltipster .__BASECLASS__-tooltipster-close svg g line {
    stroke: #000;
    fill: #000;
}

.__BASECLASS__-tooltipster-close {
    
    top: -32px;
    
    background: rgb(96, 102, 126);
    color: #fff;
    
    /*
    background: rgb(253, 218, 151);
    color: #060303;
    border: 2px solid #634949;
    */
    
    text-align: center;
    border-radius: 6px;
    
	left: 0px;
	right: auto;
	position: absolute;
	display: block;
	cursor: pointer;
	font-size: 25px;
	width: 25px;
	height: 25px;
    line-height: 25px;
    
    box-sizing: border-box;
}

.__BASECLASS__-tooltipster-close svg g line {
    stroke: #fff;
    fill: #fff;
}

.__BASECLASS__-tooltipster-close svg {
    width: 16px;
    vertical-align: baseline;
}

.__BASECLASS__-tooltipster-content {
	text-align: left;
	font-size: 14px;
}

.__BASECLASS__-tooltipster-content input[type=text] {
    width: 100%;
    height: 28px;
    padding: 0px;
    padding-left: 6px;
    margin: 0px;
    box-sizing: border-box;
    min-width : 245px;
}

.__BASECLASS__-tooltipster-content p, .__BASECLASS__-tooltipster-content label {
    margin: 0px;
    margin-bottom: 4px;
}

.__BASECLASS__-tooltipster-show {
	opacity : 1;
	pointer-events: auto;
}

.__BASECLASS__-ModalBox.__BASECLASS__-hidden {
    display : none;
}

.__BASECLASS__-sidebar-wrap .__BASECLASS__-sidebar-collapse.__BASECLASS__-active {
    display : block;
    float: right;
}

.__BASECLASS__-sidebar-wrap .__BASECLASS__-sidebar-collapse {
    display : none;  
    background: rgb(255 168 0);
    width: 100px;
    text-align: center;
    border-radius: 3px;
    overflow : hidden;
    cursor : pointer;
    color : #fff;
    padding: 4px;
}

.__BASECLASS__-FiltersMenu-tooltip label {
     display : block;
}

.__BASECLASS__-FiltersMenu-order-buttons a, .__BASECLASS__-tooltipster-ItemInfo-order-buttons a {
    text-decoration: none;
}

.__BASECLASS__-tooltipster-ItemInfo-neworder-accept { 
    display : none; 
}

.__BASECLASS__-tooltipster-ItemInfo-neworder-accept.active {
    display : inline-block;
}

.__BASECLASS__-tooltipster-content a {
    padding : 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.__BASECLASS__-FiltersMenu-order-buttons, .__BASECLASS__-tooltipster-ItemInfo-order-buttons  {
    margin-bottom : 0px;
}

.__BASECLASS__-tooltipster-container a.__BASECLASS__-FiltersMenu-delete-button {
    color : #e25757;
}

.__BASECLASS__-tooltipster-DownloaderItemInfo {
    width : 250px;
}

.__BASECLASS__-tooltipster-ItemInfo > a {
     display : block;
}

.__BASECLASS__-tooltipster-ItemInfo-tags {
     margin : 0px;
     padding : 0px;
     list-style-type : none;
}

.__BASECLASS__-tooltipster-ItemInfo-tags > li {
     margin-top : 12px;
     background : rgba(157, 156, 167, 0.4588);
     border-radius : 4px;
     padding : 4px;
}

.__BASECLASS__-tooltipster-ItemInfo-tags > li > span {
     display : inline-block;
     min-width : 128px;
}

.__BASECLASS__-tooltipster-ItemInfo-tags > li > a {
     float : right;
     text-decoration : none;
}

.__BASECLASS__-tooltipster-ItemInfo-tags > li > a:focus, .__BASECLASS__-tooltipster-ItemInfo-tags > li > a:hover {
     text-decoration : none;
}

/* image grid */

.__BASECLASS__-imagesBlock-container {
    transition : opacity 0.2s;
}

.__BASECLASS__-imagesBlock-container-active {
    opacity : 1;
}

.__BASECLASS__-imagesBlock-container-hidden {
    opacity : 0;
}

.__BASECLASS__-preview-text {
    width : 100%;
    line-height : 14px;
    height : 100%;
    padding : 16px;
    background : #f2f2f2;
    border : 2px dashed #c5c5c5;
    font-size : 12px;
    overflow: hidden;
    box-shadow : inset 0px -14px 22px -3px rgba(0, 0, 0, 0.15);
    cursor: auto;
    
    box-sizing: border-box;
}

.__BASECLASS__-preview-text div {
    
    margin-bottom : 12px;
}

.__BASECLASS__-preview {
    overflow : hidden;
    height : 250px;
    border-radius : 4px;
    cursor: pointer;
}

.__BASECLASS__-FavItem-grid-empty {
    line-height : 20px;
    padding : 4px;
}

.__BASECLASS__-FavItem-grid-resized .__BASECLASS__-preview {
    width : 100%;
    height : 100%;
    background : rgba(229, 229, 229, 0.77);
}

.__BASECLASS__-FavItem-grid-resized .__BASECLASS__-preview.__BASECLASS__-preview-small {
    max-height: 98%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* var 2
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    */
}

.__BASECLASS__-FavItem-tmp-bounds, .__BASECLASS__-FavItem-oversized-bounds   {
   overflow : hidden;
}

.__BASECLASS__-FavItem-oversized-bounds .__BASECLASS__-preview  {
    width : 100%;
	height : auto;
}

.__BASECLASS__-FavItem-tmp-bounds .__BASECLASS__-preview  {
    width : auto;
	height : 100%;
}

 /* 
.-FavItem-error:after {
    
    content: " /\\_/\\ [X] \A  ='_'= 404? \A  |    \\ / \A  |..__ \/"; 
    left: 40%;
    bottom: 10px;
    position: absolute;
    font-family: monospace;
    white-space: pre;
    line-height: 1.2;
    color : #1d1515;
    font-weight : bold;
}
*/

.__BASECLASS__-FavItem-error img {
    opacity : 0;
}

.__BASECLASS__-FavItem-error:before, .__BASECLASS__-FavItem-error:after {
    position: absolute;
    left: 50%;
    content: ' ';
    height: 50%;
    width: 16px;
    background-color: #ffc9c9;
    top: 50%;
    z-index: 1;
    margin-top: -25%;
    border-radius: 6px;
}

.__BASECLASS__-FavItem-error:before {
  transform: rotate(45deg);
}

.__BASECLASS__-FavItem-error:after {
  transform: rotate(-45deg);
}

.__BASECLASS__-FavItem  {
     display : inline-block;
     position : relative;
	 box-sizing : border-box;
	 margin : 0px;
	 padding : 6px;
	 line-height : 0px;
     width: 200px;
     height: 200px;
}

.__BASECLASS__-FavItem .__BASECLASS__-FavItem-additions {
     position: absolute;
     padding: 0px;
     left: auto;
     padding-left: 0px;
     padding-right: 0px;
     display : inline-block;
	 
	 right: 6px;
     top: 6px;
}

.__BASECLASS__-FavItem-overlay-button {
     display : none;
     line-height : 32px;
     height : 32px;
     font-size : 14px;
     padding-left : 8px;
     padding-right : 8px;
     background : #e2e2e2;

     position : absolute;
     text-align : left;
	 
	 z-index: 1;
     white-space: nowrap;
	 
	 left : 6px;
     top : 6px;
}

.__BASECLASS__-FavItem-overlay-button-bottom {
     top : auto;
	 
     left : 6px;
     bottom : 6px;
}

.__BASECLASS__-FavItem a.__BASECLASS__-FavItem-collection {
     display: block;
     padding: 0px;
     margin-left: 6px;
     width: 32px;
     height: 32px;
     text-align: center;
     line-height: 32px;
     background-color: rgba(213, 213, 213, 0.81);
     text-decoration: none;
     border-radius : 3px;
}

.__BASECLASS__-FavItem a.__BASECLASS__-FavItem-collection:hover {
    background-color : #ffb04e;
}

.__BASECLASS__-FavItem:hover > a {
     display : inline-block;
}

.__BASECLASS__-FavEditButton-edit.hidden {
    pointer-events : none;
    opacity : 0.5;
    cursor : default;
}

.__BASECLASS__-FavEditButton-edit,
.__BASECLASS__-FavEditButton-options,
.__BASECLASS__-FavEditButton-download,
.__BASECLASS__-FavEditButton-page, 
.__BASECLASS__-FavEditButton-reset {
     display : inline-block;	
	 float : left;
	 line-height : 22px;
	 height : 22px;
}

.__BASECLASS__-FavEditButton-page {
    display : none;
}

.__BASECLASS__-FavEditButton-page.__BASECLASS__-active {
    display : inline-block;
}

.__BASECLASS__-FavEditButton-reset, .__BASECLASS__-FavEditButton-download, .__BASECLASS__-FavEditButton-page {
     float : right;
     background : #fff;
     padding-left : 4px;
     padding-right : 4px;
}

.__BASECLASS__-FavEditButton-page {
    float : left;
}

.__BASECLASS__-TypeFiltersContainer {
     margin-top: 0px;
}

.__BASECLASS__-FavFilter  {
     border-radius : 0px;
     margin-bottom : 0px;
     display : inline-block;
     height : 32px;
     line-height : 32px;
     padding-left : 6px;
     padding-right : 6px;
     text-decoration : none;
     margin-right : 6px;
}

.__BASECLASS__-filters-AdditionButtons table .__BASECLASS__-FavFilter {
    padding-left: 4px;
    padding-right: 4px;
}

.__BASECLASS__-FiltersMenu {
    margin: 0;
    padding: 0;
    margin-bottom : 12px;
    /* todo move tooltips max-height: 450px;
     overflow-y: auto;
     overflow-x: hidden;
    */
}
 
.__BASECLASS__-FiltersMenu > li.includable:before {
     content: ' ';
     width: 12px;
     height: 12px;
     background: #ff8d4b;
     display: block;
     position: absolute;
     right: 5px;
     top: 0px;
     border-radius: 6px;
     border: 2px solid #713d1e;
}

.__BASECLASS__-FiltersMenu > li {
     display : inline-block;
     position : relative;
     margin-top: 6px;
}
 
.__BASECLASS__-FiltersMenu > li > a {
     border-radius : 6px;
     text-decoration : none;
     display : inline-block;
     margin-right : 6px;
     line-height : 24px;
     text-align : center;
     height : 24px;
     font-size : 14px;
     background : #ffc78e;
     display : inline-block;
     padding-left : 4px;
     padding-right : 4px;
	 min-width : 32px;
     transition: background-color 0.3s;
}

.__BASECLASS__-FiltersMenu > li.flush > a {
    background-color : #fff5eb;
}

.__BASECLASS__-FiltersMenu > li.__BASECLASS__-filters-CatCreate > a {
	background : #dbdbdb;
}
 
.__BASECLASS__-FavFilter.active, .__BASECLASS__-FavEditButton.active {
     background : rgba(255, 92, 16, 0.75);
     text-decoration : none;
}

.__BASECLASS__-FiltersMenu > li > a.active{
     background : #ff5c10;
}

.__BASECLASS__-FiltersMenu > li > a.activeIgnore {
     background : #ea8080; /* #ff002f; */
}

.__BASECLASS__-sidebar-wrap {
     position: absolute;
     z-index: 990;
     width: 326px;
     transition : opacity 0.3s;
}

.__BASECLASS__-sidebar-wrap.__BASECLASS__-inline {
    position : static!important;
    width : 100%!important;
}

.__BASECLASS__-sidebar-wrap-hidden {
     pointer-events: none;
     opacity : 0;
     visibility: hidden;
     top : 0;
     left : 0;
     max-width : 0px;
     overflow : hidden;
}

.__BASECLASS__-sidebar-wrap-active {
     pointer-events: auto;
     opacity : 1;
}

.__BASECLASS__-ModalBox-wrap.hidden {
    opacity : 0;
    overflow : hidden;
    max-height : 0;
    min-height : unset;
    border : transparent;
    margin-bottom : 0;
}

.__BASECLASS__-ModalBox {

    margin : 0 auto; 
    background : #fff;     
    min-height : 155px;     
    border : 1px solid #e1e1e1;
    border-radius : 4px;

    opacity : 1;
    transition : opacity 0.3s;

    pointer-events: auto;    
    margin-bottom: 16px;
}

.__BASECLASS__-ModalBox-controll-buttons a {
    padding-left : 6px;
    padding-right : 6px;
    white-space: nowrap;
    display: inline-block;
}

.__BASECLASS__-ModalBox-header {
    min-height : 32px;
    text-align : left;
    padding : 0px;

    padding-left : 12px;
    padding-right : 12px;

    border-bottom : 1px solid #e1e1e1;
    text-decoration : none;
    background-color : #f5f5f5;
}

.__BASECLASS__-ModalBox-close {

    float : right;
}

.__BASECLASS__-ModalBox-PreviewContainer.hidden ,
.__BASECLASS__-ModalBox-header .hidden {

    display : none;
}

.__BASECLASS__-ModalBox-PreviewContainer {
    transition : 0.1s opacity;
    margin-bottom: 6px;
}

.__BASECLASS__-ModalBox-PreviewContainer.inactive {
    opacity : 0.3;
    pointer-events: none;
}

.__BASECLASS__-ModalBox-header a {
    text-decoration : none;
    color : #555;
    font-size : 16px;
    line-height : 32px;
}

.__BASECLASS__-ModalBox .__BASECLASS__-ModalBox-content {
    padding : 12px;
    min-height: 130px;
    font-size : 14px;
}

.__BASECLASS__-ModalBox .__BASECLASS__-ModalBox-content input[type=checkbox] {
    margin-right : 6px;
}

.__BASECLASS__-PreviewImage-container {
     overflow : hidden;
     max-height : 320px;
     text-align : center;
}

.__BASECLASS__CatAddForm {
}

.__BASECLASS__-tooltipster-wrap .__BASECLASS__CatAddForm {
     border-bottom: 0;
}

.__BASECLASS__CatAddToPostList a {
    font-size: 12px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    text-decoration: none;
}

.__BASECLASS__CatAddToPostList a .__BASECLASS__-minus {
    position: relative;
    width: 16px;
    height: 16px;
    background: #f97272;
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    color: #fffefe;
}

.__BASECLASS__CatAddToPostList a .__BASECLASS__-minus:after {
    top: 40%;
    left: 20%;
    width: 60%;
    height: 20%;    
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.25s ease-out;
}

.__BASECLASS__CatAddToPostList a span {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    padding-left: 4px;
}

.__BASECLASS__SavePostWrap .__BASECLASS__Cat {
     height: 26px;
     margin-top: 0px;
     width : 100%;
}

.__BASECLASS__Add, .__BASECLASS__Remove  {
    font-weight : bold;
    padding: 2px 6px;
    color: #fff!important;
    border-radius: 3px;  
    width: 48%;
    text-align: center;
    float : right;
}

.__BASECLASS__Remove {
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    margin: 0px 0px 6px 0px;
}

.__BASECLASS__Add, .__BASECLASS__Add:hover {
    background: #ff9900;
    text-decoration: none;
}

.__BASECLASS__Remove, .__BASECLASS__Remove:hover {
    background: #ff6464;
    text-decoration: none;
}

.__BASECLASS__SavePostWrap input, 
.__BASECLASS__SavePostWrap .__BASECLASS__Add {
   margin: 5px 0;
}

.__BASECLASS__SavePostWrap input, .__BASECLASS__SavePostWrap select {
    height: 26px;
    width : 50%;
}

.__BASECLASS__-PreviewImage {
     width : 200px;
     display : inline-block;
}

.__BASECLASS__-PreviewText-container {
    width: 100%;
    line-height: 14px;
    padding: 16px;
    background: #ededed;
    border: 2px dashed #c5c5c5;
    font-size: 12px;
    overflow: hidden;
    cursor: auto;
    box-sizing: border-box;
    max-height: 300px;
    border-radius: 3px;
}

.__BASECLASS__-ModalBox-message {
     padding: 12px;
     background: rgba(226, 226, 226, 0.43);
}

.__BASECLASS__-ModalBox-message-hidden {
     display : none;
}

.__BASECLASS__-ModalBox-message-error {
     background: rgba(255, 47, 47, 0.43);
}

/* image viewer */

.__BASECLASS__-ImgView {
     position : absolute;
     top : 0px;
     left : 0px;
     background : rgba(0, 0, 0, 0.80);
     transition : opacity 0.5s;
     width : 100%;
     height : 100%;
     z-index : 1008;
     visibility : hidden;
     opacity : 0;
}

.__BASECLASS__-ImgView-active {
    visibility : visible;
    opacity : 1;
}

.__BASECLASS__-ImgView-active.__BASECLASS__-ImgView-fade {
     opacity : 0;
}

.__BASECLASS__-ImgView-loader.__BASECLASS__-ImgView-loader-hidden {
    display : none;
}

.__BASECLASS__-ImgView-img {
     text-align : center;
}

.__BASECLASS__-ImgView-img-self {
    background: rgb(255, 255, 255, 0.79);
}

.__BASECLASS__-ImgView-loader {
    
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
    
    position : absolute;
    
    left : 50%;
    top : 50%;
    
    border: 14px solid rgba(243, 243, 243, 0.67);
    border-radius: 50%;
    border-left: 14px solid #ff6922;

    animation: __BASECLASS__LoaderSpin 2s linear infinite;

    width: 80px;
	height: 80px;
    
    margin: -40px;
    
    box-sizing: border-box;
}

@keyframes __BASECLASS__LoaderSpin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}

.__BASECLASS__-ImgView-btn  {
	text-align : center; 
	padding : 9px; 
	box-sizing: border-box; 
	cursor : pointer; 
	background : #fdb201; 
	color : #56400c;
	position : absolute; 
	display : block;
	width : 32px;
	height : 32px;
	font-weight : bold;
	padding-top: 7px;
    font-family: Tahoma, sans-serif;
	border-radius: 16px;
    padding-left: 8px;
}

.__BASECLASS__-ImgView-btn:hover, .__BASECLASS__-ImgView-btn:focus {	
	background : rgba(255,255,255,0.5); 
}

@media (max-width: 780px) {
	.__BASECLASS__-ImgView-btn:hover, .__BASECLASS__-ImgView-btn:focus {		
		background : rgba(204,204,204,0.5); 
	}
}

.__BASECLASS__-ImgView-btn-close  {
	padding-top: 9px;
}

.__BASECLASS__-ImgView-btn-prev  {
	padding-left: 7px;
}

.__BASECLASS__-ImgView-btn-next {
    padding-left: 9px;
}

.__BASECLASS__-ImgView-btn-info {
    font-size: 16px;
    padding : 0;
    line-height : 32px;
}

.__BASECLASS__-ImgView-active, .material-image-view-btns {
    visibility : visible;
    opacity : 1;
}

.__BASECLASS__-ImgView-btns-hidden, .__BASECLASS__-ImgView-btn-hidden {
	opacity : 0;
    pointer-events: none;
}

.__BASECLASS__-ImgView-btn svg  {
	width : 16px;
    vertical-align: baseline;
}

.__BASECLASS__-ImgView-btn svg g {
    stroke: #56400c;
    fill: #56400c;
}

.__BASECLASS__-ImgView-btn svg g line {
    stroke: #56400c; 
    fill: #56400c;
}

.__BASECLASS__-ImgView-lock {
	overflow : hidden!important; 
	padding-right : 0px; 
	width : auto;
}

/* form base classes */

.__BASECLASS__-tab-list ul li {
    display: inline-block;
    width: 200px;
    height: 32px;
    background: #ffefc9;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
	overflow : hidden;
	line-height :1.1;
    margin-right : 4px;
}

.__BASECLASS__-tab-list ul li.active {
	background : #fdb201;
}

.__BASECLASS__-tab-list a {
    text-decoration: none;
    padding-top: 6px;
    width: 100%;
    height: 100%;
    display: block;
}

.__BASECLASS__-tab {
    padding-top : 24px;
	padding-left : 16px;
    line-height: 2;
    padding-bottom : 16px;
}

.__BASECLASS__-BaseOptions .__BASECLASS__-fast-save{
    display:  inline-block; 
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.__BASECLASS__-grid-group.hidden {
    display : none;
}

.__BASECLASS__-options-table td > span {
    padding-left : 16px;
}

.__BASECLASS__-options-table-datasource {
    vertical-align: middle;
}

.__BASECLASS__-options-table-datasource img {
    width: 62px;
    height: 62px;
    border-radius: 32px;
    margin: 6px;
    padding: 0px;
    vertical-align: middle;
    margin-right: 0px;
}

.__BASECLASS__-options-table .__BASECLASS__-radioselect label {
    margin-right : 16px;
}

.__BASECLASS__-options-table {
    width : 100%;
}

.__BASECLASS__-Storage .__BASECLASS__-options-table input[type=radio] {
    margin-left: 16px;
}


.__BASECLASS__-options-table td:nth-child(even) {

    background-color : rgba(212, 212, 212, 0.309);
}

.__BASECLASS__-options-table > tbody > tr > td[colspan="2"] {
    width: 100%;
}

.__BASECLASS__-options-table > tbody > tr > td:first-child {
    width: 40%;
}

.__BASECLASS__-options-table > tbody > tr > td {
    width: 60%;
}

.__BASECLASS__-options-table input[type=text] {
    min-width: 280px;
    margin : 6px;
    margin-left: 16px;
    padding-left: 6px;
    height : 30px;
}

.__BASECLASS__-options-table  input[type=file] {
    padding-left: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.__BASECLASS__-options-table select {
    min-width: 280px;
    margin-left: 16px;
    padding-left: 6px;
    height : 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.__BASECLASS__-options-table .__BASECLASS__-cfg-buttons {
    padding-top : 24px;
    padding-bottom : 12px;
}

.__BASECLASS__-tab h3{
	margin : 0px;
	padding : 0px;
	line-height : 32px;
}

.__BASECLASS__-DBItem {
    position: relative;    
    border-radius: 3px;
    padding-left: 8px;
    vertical-align: middle;
    height: 33px;
    margin-top : 6px;
    background-color : #f4f4f4;
    padding-top: 2px;
}

.__BASECLASS__-DBItem-name {
    min-width : 180px;
    display : inline-block;
}

.__BASECLASS__-DBItem-size {
    min-width : 100px;
    display : inline-block;
}

.__BASECLASS__-DBItem.active {
    background-color : #ffe291;
}

.__BASECLASS__-DBItem.active:after {
	position: absolute;
    content: " ";
    background: #81da90;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    top: 9px;
    right: 12px;
}

.__BASECLASS__-DBItem a, .__BASECLASS__-DBItem span{
	margin-right : 16px;	
}

.__BASECLASS__-DBItem a.__BASECLASS__-right {
    float: right;
    margin-right: 64px;
    font-size: 12px;
}

.__BASECLASS__-icon {

	padding: 0px; 
    margin: 0px;
    image-rendering: pixelated;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    /* vertical-align: middle; */
    position: absolute;
    top: 0px;
    left: 0px;
	background-size: 23px;
}

.__BASECLASS__-icon-diskete {
	background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAYAAAAFQMh/AAABBklEQVRIiWOcosvwnwELuOdahE2YZKC0u4+BgYGBIfvSf0ZkcSaqmE4GYIExstWhDGEIVYykKD4+niRDFy5cCGdnW0HoqXqM/xkYED4feB/DwVsozU1Ys940fRQ9l2ovYiqCysF8ftUJ4vNB5GNh+lg8YD4etZhuADNxkQAuZWHJPkSCwe1j5CKQZIAjew4+H/d+7aOpxYPHx3bXbGli0SGtwyj8weNjGJgyZQrZhurp6cHZdnZ2WNUMPh8jA0NDQ5IM/fv3L0E1g9vHxPiAVDBaLWIFzMzMJBmKLWqC10PoJm0IPbh9TI3EtTYQQl+9BaEH3sdX3+JWdOnSJYotgvkUBgbMxwCkJzuW9u9W3gAAAABJRU5ErkJggg==');
}

.__BASECLASS__-icon-diskete-green {
    background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAYAAAAFQMh/AAAA60lEQVRIiWNkaGX4z4AFpD5IxSZMMpitMJuBgYGB4Un8E0ZkcSaqmE4GYIGz4tFkGhHMsLAwkgxdtWoVggM1V2ahzH8GBoTPB4GPyQCumq4o/N3Xd+NWDPP5LYjPB8zHoxaPWkwzQFF2wpt9CIDB7WOUIpBKYMB8zAivFtErCVqBWxBq8MSxsb8xTSw6u/EsCn/w+BgGOjo6yDZUU1MTzvb398eqZvD5GBm4uroSVoQEnjx5QlDN4PYxMT4gFYxWi1iBjIwMSYZijZpkKF0OoQa3j6mSuOZC6cFTSdzCrej69euU24Rm/oD5GABE7zQVCA3ohQAAAABJRU5ErkJggg==');
}

.__BASECLASS__-icon-diskete-yellow {
    background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAYAAAAFQMh/AAABA0lEQVRIiWOcW8/wnwELuPalGJswyUCLp5eBgYGBIanhPyOyOBNVTCcDsMAYSYlQhhCEKmlEKIqPjyfJ0IULF8LZSdCAm9fA+J+BAeHzgfcxHLwjXrOugh6KnsufLmEqgsrBfP5wO8Tng8jHQvSxeMB8PGox3QBm4iIBXH6AJfsQCQa3j5GLQJIBjuw5+HzcU99LU4sHj49tPK1pYtGR7UdR+IPHxzAwffp0sg3V1dWFs21sbLCqGXw+RgZ6enokGfr/P9b2IwoY3D4mxgekgpFXLRJlMSMjI0kYG4jwh2CSLKYFoFviWrERQj88AqEH3scPr+FWdPnyZYotgvkUBgbMxwC0ITonEyGRugAAAABJRU5ErkJggg==');
}

.__BASECLASS__-icon-diskete-blue {
    background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAYAAAAFQMh/AAABDUlEQVRIiWNkmDrhPwMWUHzvMTZhkkGvkiwDAwMDw/+sfEZkcSaqmE4GYIGzsnIh9DuoW9pK4FLx8fEkGbpw4UIEJyKfgYGBgYFx2sT/DAwInw8CH8OA0D+iNetJ66LouXT5KqYimHkwn187/5+BYVD5+B193DJgPh61mG4AM3GRAC49vQxhPCVd7+D2MUoRSCrAkT0Hn497q3poavHg8bG1nw1NLDq66QgKf/D4GAamT59OtqG6urpwto0N9hAcfD5GBnp6eiQZ+v8/1vYjChjcPibGB6SCkVctEmUxIyMjSRgrSPGGYFIspgWgX+KasxVCvzjPwMAwKHx87SJORZcvX6bcJqhPYWDAfAwA1q8+EPoGQzkAAAAASUVORK5CYII=');
}

.__BASECLASS__-icon-gear {
    background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAYCAMAAAA4a6b0AAAAmVBMVEUAAABvAACJAAB7AACJAAB1AACDAACNAACVAACNAACRAAAAAAA2AAAAAAA2AADmhmzuQQAEAACEAACBAAB0AADeUwD/gAD/fQCVAAD/eQDzQwCRAACOAAD2RwCIAAAAAADvQwDqQgDsPwCEAADxRgAMAAD/z7P/gwD3SwDsQQD/07X/1K7/vpOaAQD/2bz/1Lr/snP/hwykBgCbKPzjAAAAFnRSTlMACfYR7hL29vbu9u4cEhH89vbupSMJy3szKwAAATVJREFUKM91UtlywyAMtATYuXtz+07SuEl6/f/HFYHrjB+yY8/ALItWWrIJLK/rOmfZDADh575tWs+BttNpvmRMoDbSaBTAlpz9E+7yUPlAyEAVuOhcooC741npoZSEsrkaZR0HYorL+Ueak5IJKnxdAUnzLQl7a+0+rkzSZAx1SdtD5auDIZXGVEegK6l2joi5NpFBQc4KZ5W0un8VAkSurZT2l9yhb0Jxpft6Gy7Y1r0OFprGYVb548e7VB43GWFTeUXmBx+Yr8/I7CKzw8S0VYakodvWsYV1vE21Ty/BwcpRUZ0LgNGBsv4ZomutZq5l6VJDjJhbp8RoHKdjZtOhU4s00S5IpnmebBnae3xLGqvMtRlTGJyzxq5gTK5bYDElhy5EB1PacEs7TJKzey+EFPdf1R99cSQu29ieZAAAAABJRU5ErkJggg==')
}

.__BASECLASS__-icon-download {
    /*background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAYAAAAFQMh/AAAAvUlEQVRIie2X0RGDIBBE9xyrSRE2YRFJSVJEaiQfziaj5oDLCNxMfL8oyxPmOAUAYozQeN4E8wT9ge9IcjAAQ26GeTJGFjKqI4/koisEVw48BjcKJEOP0E9wB67gZvBUWytTjtx88n+fuvses4Kcvdd73pWquzGpZX6oyW6MyVnm6u3jzpj8ap69Z90ak1Lz4o7CvTHRzM29kwPjpfDgro2hmN7ZE2SdIPULowRvMS5AhMH36rfSNjhcHUhDXif2HMDvUkxoAAAAAElFTkSuQmCC');*/
   background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAMAAAAynjhNAAAAclBMVEUAAAD/TQD/ZwD/ZwD/ZgD/YwD/YAD/YAD/ZwD/ZgD/ZgD/ZQD/ZQD/ZAD/XQDAwI//ZwD/ZgD/ZgD/ZgD/ZgD/ZgD/ZQD+YgH/aAD/ZwD/ZwD/ZgD/ZwD9ZwH/ZgD/ZwD/ZgD/ZgD/ZwH+ZgC5ubn/ZwBA+b+qAAAAJXRSTlMABPf88RkRDuvVfVpFIAkF+uTfyaSZZzEn9cG4tKyTiG1SOTkSeOETlQAAAJdJREFUKM/t0LcSgzAURNF9AknkjME58v+/aDMMSUjq3HHa2+wsJt0CRns2ZNYZMQD3zFR9/Mja0dc8SgCQqLTdCxNCT1w01T0IDIiftqsCThjFpVKzG8eMWn9VnSoWWGqKZT23WKN3PueykVBF3nTHC1v0dIdaRBI6oTvcAb3kwfo7JEwCdgxgxutrDJtPCptUzZ3Ff/MXf4VCYSLxDG4AAAAASUVORK5CYII=');
}

.__BASECLASS__-icon-download-configurable {
    /*background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgAQMAAAA/jlo8AAAABlBMVEUAAAAewf9MPD43AAAAAXRSTlMAQObYZgAAADRJREFUCNdjYKj/wUAaUf///w90Qv7//wcQgv3//wYIwfj/HwOIQDFA/gGMYG+AEHCA1WQAN5c/SQvheqcAAAAASUVORK5CYII=')*/
    background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAMAAAAynjhNAAAAbFBMVEUAAAAewP8dwf8dwf8dwf8dwf8dwf8dwf8bwP8awv8awf8Zwf8Uu/8ewf8dwf8ewf8dwP8cwP8dwP8cwP8cwf8cwP8cv/8cuf4Rv/8dwP8dv/8cwP8cwP8cwf8dwP8cwf8ewv8bwv8Afv8ewf81AZJCAAAAI3RSTlMA/vvp1KL34VIlHxoI9PHcvrCLbEc6NBIOzca5l4V7dF1cAlWGDUoAAACTSURBVCjP7dBJFoMgEEXRjy0g9kZN37D/PYaTA1EIZJTMfNM7qV94J1fBtHGAaxmsVkzjkJJU8dyXAT1OisXURV7dswegKlKfJzt9nOAN+dB84DCNiasxxZIYckdvBdbdrXlVD7v5Wi1aXjjcusxodrZFz9MenRh8tdFLU/gbD2o+aRlCJZI0CEdz9cpfJr/0X34Cuts/FbjQJxwAAAAASUVORK5CYII=');
}

.__BASECLASS__-fast-save, .__BASECLASS__-sidebar-addtofav {
    width: 28px;
    height: 28px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    
    overflow : visible;
    
    text-align: center;
    vertical-align: middle;
    
    display : block;
    
    cursor: pointer;
    image-rendering: pixelated;
    
    position: relative;
    box-sizing: border-box;
    
    margin : 0;
    margin-top : 5px;
}

.__BASECLASS__-fast-save-unavailable {
    opacity : 0.4;
    cursor : default;
}

.__BASECLASS__-fast-save-downloaded:after, .__BASECLASS__-fast-save-notdownloaded:after, .__BASECLASS__-sidebar-addtofav-added:after {
    content: " ";
    background: rgba(102, 255, 99, 0.89);
    bottom: 2px;
    right: 2px;
    display: block;
    position: absolute;
    z-index: 1;
    width: 12px;
    height: 12px;
    border-radius: 12px;
}

.__BASECLASS__-fast-save-notdownloaded:after {
    background: transparent; /*rgba(219, 219, 219, 0.91);*/
}

.__BASECLASS__-fast-save-loading {
    animation: __BASECLASS__LoaderSpin 2s linear infinite;
    background-image : none!important;
    border-radius: 50%;
    border: 4px solid rgba(98, 98, 98, 0.1803);
    border-left: 4px solid #ff9b20;
}

.__BASECLASS__-fast-save-loading:after {
    display : none;
}
    
.__BASECLASS__-iconset1 {
	
	image-rendering: pixelated;
	background-size: auto 22px;
	background-repeat: no-repeat;
	
    width: 28px;
	
	overflow : hidden;
	height : 22px;
}

.__BASECLASS__-iconset1-lock-closed {
	background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAABsElEQVQ4jaWUsW7UQBCGv12vb2+LFK5zSkMdeAWadHkEJJBCE0WiRog2bTp0VSQkGiqSKh3iHUKNAOmOguaKE6ycW3so1udzzo5jlF+y7J0Zfzv+NWtFpWPIbrSeAy4vSwbI78DuFBYACuAIHImeT79fZ5Jonr96S36z6qWoomB8dbVwsHsO3tQZYaxSA0lybytS1WgYr2M1KIjw/tNnAEYXl5iy9N2tKPfn8LAVNs1FKIpYK+ItTIBtmMtFZoDrBW3Jn2+BjnqKDcAIxgGQ1S2DXceLDqLRa42iT14dQ7aEb0CmlQKgFIH2Z92CNbTYgUdmCXPAWa1jWAQisOVDl3KRbAlzs4ZMf1yTWgM/P4BsWkf6KCtePj0jF3G12ak1kAJfTiE0IL97YGGTM/XnzD6CkZhcNySABkqga9DD5rEx2aG9cwq8+Rrjp/vdsBboLhX0+1RJ92Y9nOw95mTvyd3DMLSjPEj08EEd/YfaoPv/IgNASQoHr2NU4mUV2AF9bzzKq+EJwC/qGXn3olHdmJvttXoGfwFnqwMLDDK33j/evLEwyWGWiww6pB3yFib/AJXHkBfJTc7gAAAAAElFTkSuQmCC');
	background-position-x : 0px;
}

.__BASECLASS__-iconset1-lock-open {
	background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAYAAADeiIy1AAAB2UlEQVRIia2VMW/TQBTHf892Qm5AVSSQkMhQqTP9DBbqAgszC+UbMDOwILHwKbIxgNQJJFAl8hUqZqQIpWJgiKJKdVKf7zFcGruXxLEL/+ksv/Pv3t/vvRNa6gj69+LoXMFcOYfbtUHJZjCQNpAUzIM4Oh+Oz/oSxbx49Yb8Kt8aL0WB/fIZlCxpA1qqJ50OEsU7AzVexZjWoNwpw0+nANiTEwrnso2BIiZ+8nT1eJuMyIvCL5xmM2UAhDCzh07EWvNPoEDZKAClAAr221fQCigFQzMZAJeXBZBAj/WMvLRcyhH078JP5zc0giXii9WqEsH0Ag5OYXodkILpw8RVEpBncAmYXhwhAKo0lQJz52FTeDiqZJYGLiWAMXHEcHxGt9tBxh9Alz97F3Rhef74PZnTNTdGgZ2rYuje6SCJwPe3YNUf9w83fF6TbW5Acn1y+fUREvGQYgmwlaNsGgC2GaQEgbdLg4nUBV7/8Ot3jzbDWoO2qbj9x6uKat9ewvH+Icf7h9s6pbF2ZrTIm5d7neoz+o+qB7W6req1bp1S9s596El9K7UHLXLfF7+50R/Dl5XosG9aVGQ56yJBAG0x6wDmysZZFyqZwWAPJnOnTa+KUNkFHNRBAP4CjNKjYenJaFcAAAAASUVORK5CYII=');
    background-position-x : 0px;
}

.__BASECLASS__-iconset1-arrows {
	background-position-x : -70px;
	width: 28px;
}

.__BASECLASS__-censored-preview {
    
    display : inline-block;
    width : 150px;
}

.__BASECLASS__-censored-notice {
    
    display : inline-block;
    max-width : 200px;
}

.__BASECLASS__-MainMenuItem {
    display: inline-block;
}

.__BASECLASS__-MainMenuItem-options.active a {
	background : #fdb201;
}

.__BASECLASS__-MainMenuItem-fav.active .__BASECLASS__-icon {
	background-color : #fdb201;
}

.__BASECLASS__-MainMenuItem-fav .__BASECLASS__-icon {

    background-color: rgba(239, 239, 239, 0.4);
	border-radius : 15px;
}
	
.__BASECLASS__-MainMenuItem-fav {
	width: 30px;
	text-align: center;
	height: 20px;
	position: relative;
	margin-right: 16px;
	margin-left: 16px;
}



.__BASECLASS__-MainMenuItem-fav span {
}

.__BASECLASS__-Save {
	margin-top : 24px;
    margin-bottom : 64px;
}

.__BASECLASS__-SaveFavNew {
	font-weight : bold;
}

.__BASECLASS__-tech-options,
.__BASECLASS__-exporter-container {
    margin : 0px;
    padding : 0px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    opacity : 0;
    max-height : 0px;
    transition : opacity 0.3s;
    overflow : hidden;
}

.__BASECLASS__-exporter-buttons {
    margin-top : 16px;
}


.__BASECLASS__-exporter-buttons a {
    margin-right : 16px;
}

.__BASECLASS__-exporter-wrap-tag {
    margin-bottom : 16px;
}

.__BASECLASS__-exporter-create-by-tag-container,
.__BASECLASS__-exporter-tag-filter-container {
    padding: 14px;
    margin-bottom: 12px;
    margin-top: 12px;
    background : rgba(239, 239, 239, 0.35);
}

.__BASECLASS__-common-button,
.__BASECLASS__-exporter-button-addtoprofile {
    
    background: #ffbb00;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 38px;
    text-decoration: none;
    font-size: 14px;
    margin-right : 16px;
}

.__BASECLASS__-exporter-container label {
    display : block;
}

.__BASECLASS__-tech-options {
    border : 0px;
}

.__BASECLASS__-tech-options td input[type=text] {
    width : 100%;
    height : 28px;
    padding-left : 6px;
}

.__BASECLASS__-tech-options table {
    width : 100%;
}

.__BASECLASS__-tech-options table > tbody > tr > td:first-child {
    width: 20%;
}

.__BASECLASS__-tech-options.active,
.__BASECLASS__-exporter-container.active {
    opacity : 1;
    max-height : none;	
    margin-bottom : 24px;
    padding: 16px;
}

.__BASECLASS__-exporter-log {
	width : 100%;
	height : 200px;
	overflow-y : auto;
	max-height : 200px;
	border: 1px solid #b7b7b7;
    padding: 6px;
    border-radius: 3px;
}

.__BASECLASS__-exporter-tag-filter, .__BASECLASS__-exporter-create-by-tag {
	width : 400px;
	height : 200px;
}

.__BASECLASS__-filters-AdditionButtons td {
	text-align: center;
    width: 33%;
    white-space: nowrap;
}

/* Download manager */

.__BASECLASS__-downloader-item { 
    margin-bottom : 12px; 
    display : block; 
    line-height : 1; 
    height : 16px;
    font-size : 12px; 
}

.__BASECLASS__-downloader-item-state-holder { 
    display : inline-block; 
}

.__BASECLASS__-downloader-item-state { 
    display : inline-block; 
    margin-left : 12px;
    margin-right : 12px;
    width : 16px; 
    height : 16px;
    background : #2bff4f;
    border-radius: 8px;
    border : 1px solid 1px solid rgba(0,0,0,0.3); 
    
    position : absolute;
    right : 16px;
    bottom : 16px;
}

.__BASECLASS__-downloader-controll {
    line-height: normal;
}

.__BASECLASS__-downloader-controll .__BASECLASS__-downloader-quality-tr label {
    margin-right : 16px;
}

.__BASECLASS__-downloader-controll input[type=text] {
    width : 100%;
}

.__BASECLASS__-downloader-controll div {
    line-height: normal;
}

.__BASECLASS__-downloader-item-state-err {
    background : #ff2b2b; 
    border : 1px solid rgba(0,0,0,0.3); 
}

.__BASECLASS__-downloader-item-state-skip {
    background : rgba(205, 205, 205, 0.501); 
}

.__BASECLASS__-downloader-item-state-wait {
    background : #ffe52b;  
}

.__BASECLASS__-downloader-item-state-loading { 
    width : 16px; 
    height : 16px;
    background : #ff972b; 
    border : 1px solid 1px solid rgba(0,0,0,0.3);
}

.__BASECLASS__-ModalBox-downloader input {
    margin : 1px 0;    
}

.__BASECLASS__-ModalBox-downloader label {
    display : inline-block;
    margin : 4px 0;
}

.__BASECLASS__-ModalBox-downloader a {
    color: #282828;
}

.__BASECLASS__-ModalBox-downloader .__BASECLASS__-ModalBox-content {
    background : #fff;
}

.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll input[type="radio"] {
    margin-right : 16px;
}

.__BASECLASS__-downloader-controll .__BASECLASS__-downloader-extended-show-row td {
    padding : 0;
    text-align : center;
}

.__BASECLASS__-downloader-controll-rangeSwitch  {
    margin-right : 6px;
    padding-left: 4px;
    padding-right: 4px;
}

.__BASECLASS__-downloader-controll-rangeSwitch.active  {
    
    background: #e1e1e1;
    text-decoration: none;
}

.__BASECLASS__-downloader-controll-rangeInput {
    display : none;
}  

.__BASECLASS__-downloader-controll-rangeInput.active {
    
    display : block;
}

.__BASECLASS__-downloader-controll .__BASECLASS__-downloader-range-tr input[type=text]  {
    
    width : 45%;
    float : left;
    margin-right : 6px;
}

.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll-buttons a {

    background: rgb(253, 178, 1);
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
}

.__BASECLASS__-ModalBox-downloader .kelly-jr-ui-downloader-controll-buttons a.disabled {
    
	pointer-events: none;
    background: rgb(195, 195, 195);   
    color: #7e7e7e;
}

.__BASECLASS__-ModalBox-downloader .kelly-jr-ui-downloader-controll-buttons a.__BASECLASS__-downloader-button-save_as_json,
.__BASECLASS__-ModalBox-downloader .kelly-jr-ui-downloader-controll-buttons a.__BASECLASS__-downloader-button-save_as_txt,
.__BASECLASS__-ModalBox-downloader .kelly-jr-ui-downloader-controll-buttons a.__BASECLASS__-downloader-button-save_log {
    background: #ffebc2;
}

.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll-buttons a:hover {
   background-color : rgb(253, 117, 1);
}

.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll tbody,
.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll table {
    display : block;
}

.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll tr, .__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll td  {
    display : block;
}

.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll tr.hidden, .__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll td.hidden {
    display : none;
}

.__BASECLASS__-downloader-controll .__BASECLASS__-downloader-controll-extended.hidden {
    display : none;
}

.__BASECLASS__-tooltipster-error {

    margin : 0px;
    padding : 0px;
    max-width : 640px;
    min-width : 400px;
}

.__BASECLASS__-downloader-error-wrap {
   text-align : center;
}

.__BASECLASS__-downloader-error-wrap .__BASECLASS__-downloader-error-counter {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #eb5656;
    font-weight: bold;
}

.__BASECLASS__-downloader-error-list p {
    margin: 0;
    padding: 0px;
}

.__BASECLASS__-downloader-error-list {
    
	width : 100%;
	overflow-y : auto;
	max-height : 600px;
	border: 1px solid #b7b7b7;
    padding: 6px;
    border-radius: 3px;
    
    background : #fff;
    color : #000;
    font-size : 12px;
    box-sizing: border-box;
}

.__BASECLASS__-downloader-error-list-itemsline textarea {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.__BASECLASS__-downloader-error-list-errorsLine textarea {
    width: 100%;
    height: 200px; 
    box-sizing: border-box;
}

.__BASECLASS__-downloader-progressbar {
    text-align: center;
    height: 32px;
    position: relative;
    color: #fff;
    background: #b0b0b0cf;
    border-radius: 6px;
    border: 2px solid #a2a2a2;
    box-sizing: content-box;
    width: 80%;
    margin: 0 auto;
}

.__BASECLASS__-downloader-progressbar-line {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding: 4px;
    left: 0px;
    box-sizing: border-box;
}

.__BASECLASS__-downloader-progressbar-line:after {
    content: " ";
    /* position: absolute; */
    left: 0px;
    display: block;
    background: rgba(79, 255, 120, 0.76);
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.__BASECLASS__-downloader-progressbar-line.__BASECLASS__-downloader-progressbar-line-err {
    left : auto;
    right: 0;
}

.__BASECLASS__-downloader-progressbar-line-err:after {
    background: rgba(239, 94, 126, 0.76);
}

.__BASECLASS__-downloader-progressbar-state {

    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 32px;
    font-size: 12px;
}

/* Fav items importer, todo replace class, cause collisions */

.__BASECLASS__-FavItem-download-number {
    display: block;
    /* width: 30px; */
    height: 30px;
    background: #ffa560;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color : #000;
}

.__BASECLASS__-FavItem-download-number span {
    font-size : 22px;
}

.__BASECLASS__-FavItem-download-state-holder {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 6px;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    cursor: pointer;
}

.__BASECLASS__-MainMenuItem.active a:hover {
    text-decoration : none;
}

.__BASECLASS__-MainMenuItem-fav a {
    text-decoration : none;
    margin : 0px;
    padding : 0px;
    display : block;
    width: 100%;
    height: 100%;
}

div.__BASECLASS__-FavItemsCount {
    position: absolute;
    top: -8px;
    font-size: 12px;
    line-height: 1.2;
    background: rgba(237, 85, 0, 0.58039);
    border-radius: 6px;
    line-height: 14px;
    height: 14px;
    padding-left: 3px;
    padding-right: 3px;
    right: -18px;
    z-index: 3;
    
    opacity : 0;
    transition : opacity 0.3s;
}

div.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-1 {
    right: -6px;
    min-width: 14px;
    border-radius: 7px;
}

div.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-10 {
    right: -12px;
}

div.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-100 {
    right: -20px;
}

div.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-1000 {
    right: -24px;
}

div.__BASECLASS__-MainMenuItem.__BASECLASS__-MainMenuItem-fav:hover .__BASECLASS__-FavItemsCount {
    opacity : 1;
}

/* mobile version */

.__BASECLASS__-mobile .__BASECLASS__-sidebar-wrap .__BASECLASS__-ModalBox {
    margin : 0px;
}

.__BASECLASS__-mobile .kelly-jr-ui-FavItem-grid-first,
.__BASECLASS__-mobile .kelly-jr-ui-FavItem-grid-first .__BASECLASS__-FavItem-download-state-holder {
    padding-left: 0;
}

.__BASECLASS__-mobile .kelly-jr-ui-FavItem-grid-last,
.__BASECLASS__-mobile .kelly-jr-ui-FavItem-grid-last .__BASECLASS__-FavItem-download-state-holder {
    padding-right: 0;
}

.__BASECLASS__-mobile .__BASECLASS__-section-header-inline {
    height: 32px;
    line-height: 32px;
    padding: 0 24px;
    background: #5c5c5c;
}
