.__BASECLASS__ {
     margin-right : 6px;
}

.__BASECLASS__-FavContainer {
     display : none;
}

.__BASECLASS__-FavContainer {
     margin-bottom : 120px;
     line-height: 0px;
}

 .__BASECLASS__-FavContainer-page {
     line-height: 20px;
}

/* pagination */

.__BASECLASS__-pagination {
     margin-bottom : 16px;
}

.__BASECLASS__-pagination-item.active, .__BASECLASS__-pagination-item:hover, .__BASECLASS__-pagination-item:focus {
     background : #ffebc2;
}

.__BASECLASS__-pagination-item {
     overflow: hidden;
     padding-left: 3px;
     padding-right: 3px;
     border-radius : 2px;
     text-decoration : none;
     display : inline-block;
     margin-right : 3px;
     line-height : 28px;
     text-align : center;
     width : 32px;
     height : 32px;
     font-size : 16px;
     background : #ffca61;
     border : 2px solid #3c0905;
}

.__BASECLASS__-pagination-item-100 {
     font-size : 12px;
     padding-left: 0px!important;
     padding-right: 0px!important;
}

.__BASECLASS__-tooltipster-wrap.__BASECLASS__-Default-tooltipster {
	padding-top : 6px; /* to avoid onmouse out, usualy dont needed */
}

.__BASECLASS__-tooltipster-wrap.__BASECLASS__-ItemTip-tooltipster  {
	padding-left : 40px;
}

.__BASECLASS__-tooltipster-wrap.__BASECLASS__-Default-tooltipster, .__BASECLASS__-tooltipster-wrap.__BASECLASS__-ItemTip-tooltipster  {
     z-index : 1010;
}

.__BASECLASS__-ItemTip-images {
    height: auto;
    overflow: auto;
    max-height: 300px;
	max-width : 300px;
}

.__BASECLASS__-ItemTip-images  li {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: 0px;
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
	
}

.__BASECLASS__-ItemTip-images  li  img {
	width : 100%;
}

.__BASECLASS__-tooltipster-wrap {
	position : absolute;
	opacity : 0;
	z-index : 60;
	pointer-events: none;
}

.__BASECLASS__-tooltipster-container {
	min-width: 210px;
	min-height: 52px;
	margin : 0;
	background : rgba(96, 102, 126, 0.9490);
	border : 0px dashed #c5c5c5;
	transition: opacity 0.1s;
	color : #fff;
	border-radius : 4px;
	padding : 12px;
}

.__BASECLASS__-tooltipster-close {
	left: 0px;
	right: auto;
	position: absolute;
	top: 0px;
	display: block;
	transform: rotate(45deg);
	cursor: pointer;
	font-size: 25px;
	width: 25px;
	height: 25px;
	line-height: 25px;
}

.__BASECLASS__-tooltipster-content {
	text-align: left;
	font-size: 16px;
}

.__BASECLASS__-tooltipster-show {
	opacity : 1;
	pointer-events: auto;
}

.__BASECLASS__-FiltersMenu-tooltip label {
     display : block;
}

.__BASECLASS__-tooltipster-ItemInfo-tags {
     margin : 0px;
     padding : 0px;
     list-style-type : none;
}

.__BASECLASS__-tooltipster-ItemInfo-tags > li {
     margin-top : 12px;
     background : rgba(157, 156, 167, 0.4588);
     border-radius : 4px;
     padding : 4px;
}
 .__BASECLASS__-tooltipster-ItemInfo-tags > li > span {
     display : inline-block;
     min-width : 128px;
}
 .__BASECLASS__-tooltipster-ItemInfo-tags > li > a {
     float : right;
     text-decoration : none;
}
 .__BASECLASS__-tooltipster-ItemInfo-tags > li > a:focus, .__BASECLASS__-tooltipster-ItemInfo-tags > li > a:hover {
     text-decoration : none;
}

/* image grid */

.__BASECLASS__-preview-text {
     width : 100%;
     line-height : 14px;
     height : 100%;
     padding : 16px;
     background : #f2f2f2;
     border : 2px dashed #c5c5c5;
}

.__BASECLASS__-preview {
    overflow : hidden;
    height : 250px;
}

.__BASECLASS__-FavItem-grid-resized .__BASECLASS__-preview {
     width : 100%;
     height : 100%;
     background : rgba(229, 229, 229, 0.77);
}

.__BASECLASS__-FavItem-tmp-bounds, .__BASECLASS__-FavItem-oversized-bounds   {
   overflow : hidden;
}

.__BASECLASS__-FavItem-oversized-bounds .__BASECLASS__-preview  {
    width : 100%;
	height : auto;
}

.__BASECLASS__-FavItem-tmp-bounds .__BASECLASS__-preview  {
    width : auto;
	height : auto;
}

.__BASECLASS__-FavItem  {
     display : inline-block;
     position : relative;
	 box-sizing : border-box;
	 margin : 0px;
	 padding : 6px;
	 line-height : 0px;
}

.__BASECLASS__-FavItem .kellyFavListItem-additions {
     position: absolute;
     padding: 0px;
     left: auto;
     padding-left: 0px;
     padding-right: 0px;
     display : inline-block;
	 
	 right: 6px;
     top: 6px;
}

.kellyFavListItem-overlay-button {
     display : none;
     line-height : 32px;
     height : 32px;
     font-size : 14px;
     padding-left : 8px;
     padding-right : 8px;
     background : #e2e2e2;

     position : absolute;
     text-align : left;
	 
	 z-index: 1;
     white-space: nowrap;
	 
	 left : 6px;
     top : 6px;
}

.kellyFavListItem-overlay-button-bottom {
     top : auto;
	 
     left : 6px;
     bottom : 6px;
}

.__BASECLASS__-FavItem a.kellyFavListItem-collection {
     display: block;
     border: 1px solid #000;
     padding: 0px;
     margin-left: 6px;
     width: 32px;
     height: 32px;
     text-align: center;
     line-height: 32px;
     background: #d5d5d5;
     text-decoration: none;
}

.__BASECLASS__-FavItem:hover > a {
     display : inline-block;
}

.__BASECLASS__-FavEditButton-edit, .__BASECLASS__-FavEditButton-download, .__BASECLASS__-FavEditButton-reset {
     display : inline-block;	
	 float : left;
	 line-height : 22px;
	 height : 22px;
}

.__BASECLASS__-FavEditButton-reset {
     float : right;
     background : #fff;
     padding-left : 4px;
     padding-right : 4px;
}

.__BASECLASS__-TypeFiltersContainer {
     margin-top: 0px;
}

.__BASECLASS__-FavFilter  {
     border-radius : 0px;
     margin-bottom : 0px;
     display : inline-block;
     height : 32px;
     line-height : 32px;
     padding-left : 12px;
     padding-right : 12px;
     text-decoration : none;
     margin-right : 6px;
}

.__BASECLASS__-FiltersMenu {
     margin-bottom : 12px;
    /* todo move tooltips max-height: 450px;
     overflow-y: auto;
     overflow-x: hidden;
    */
}
 
.__BASECLASS__-FiltersMenu > li.includable:before {
     content: ' ';
     width: 12px;
     height: 12px;
     background: #ff8d4b;
     display: block;
     position: absolute;
     right: 5px;
     top: 0px;
     border-radius: 6px;
     border: 2px solid #713d1e;
}

.__BASECLASS__-FiltersMenu > li {
     display : inline-block;
     position : relative;
     margin-top: 6px;
}
 
.__BASECLASS__-FiltersMenu > li > a {
     border-radius : 16px;
     text-decoration : none;
     display : inline-block;
     margin-right : 6px;
     line-height : 28px;
     text-align : center;
     height : 32px;
     font-size : 14px;
     background : #ffc78e;
     display : inline-block;
     line-height : 32px;
     padding-left : 4px;
     padding-right : 4px;
	 min-width : 32px;
}

.__BASECLASS__-FiltersMenu > li.__BASECLASS__-filters-CatCreate > a {
	background : #dbdbdb;
}
 
.__BASECLASS__-FavFilter.active, .__BASECLASS__-FavEditButton.active {
     background : rgba(255, 92, 16, 0.75);
}

.__BASECLASS__-FiltersMenu > li > a.active{
     background : #ff5c10;
}

.__BASECLASS__-FiltersMenu > li > a.activeIgnore {
     background : #ea8080; /* #ff002f; */
}

.__BASECLASS__-ModalBox {
     display : none;
     position:absolute;
     z-index:990;
     margin : 0 auto;
     width : 300px;
     background : #fff;
     min-height : 255px;
     border : 1px solid #e1e1e1;
     border-radius : 4px;
     top: 244px;
    /*left : 50%;
    */
     right : 4px;
    /*margin-left : -400px;
    */
}

.__BASECLASS__-ModalBox > div:first-child {
     min-height : 32px;
     text-align : right;
     padding : 0px;
     padding-right : 12px;
     border-bottom : 1px solid #e1e1e1;
     text-decoration : none;
     background-color : #f5f5f5;
}
 .__BASECLASS__-ModalBox > div:first-child a {
     text-decoration : none;
     color : #555;
     font-size : 16px;
     line-height : 32px;
}
 .__BASECLASS__-ModalBox .__BASECLASS__-ModalBox-content {
     padding : 12px;
}
 .__BASECLASS__-ModalBox .__BASECLASS__-ModalBox-content a {
     padding-left : 6px;
     padding-right : 6px;
}

 .kellyPreviewImage-container {
     overflow : hidden;
    /*width: 200px;
    */
     max-height : 400px;
     text-align : center;
}

.__BASECLASS__CatAddForm {
     padding: 6px 3px;
     border-bottom: 1px solid #ffa217;
     margin-bottom: 6px;
}

.__BASECLASS__-tooltipster-wrap .__BASECLASS__CatAddForm {
     border-bottom: 0;
}

 .__BASECLASS__CatAddToPostList a {
     font-size: 12px;
     padding : 0px;
     padding-right : 2px;
     line-height : 1;
}
 .__BASECLASS__Cat {
     height: 26px;
     margin-top: 12px;
     width : 120px;
}
 .__BASECLASS__SavePostWrap input {
     height: 26px;
     width : 120px;
}
 .kellyPreviewImage {
     width : 200px;
     display : inline-block;
     border-radius : 3px;
}
 .__BASECLASS__-ModalBox-message {
     padding: 12px;
     background: rgba(226, 226, 226, 0.43);
}
 .__BASECLASS__-ModalBox-message-hidden {
     display : none;
}
 .__BASECLASS__-ModalBox-message-error {
     background: rgba(255, 47, 47, 0.43);
}

/* image viewer */

#__BASECLASS__-ImgView {
     position : absolute;
     top : 0px;
     left : 0px;
     background : rgba(0, 0, 0, 0.50);
     visibility : hidden;
     opacity : 0;
     transition : opacity 1s;
     width : 100%;
     height : 100%;
     z-index : 1008;
}

#__BASECLASS__-ImgView-img {
     text-align : center;
}

#__BASECLASS__-ImgView-img img {
    /* 
	 opacity : 0;
     transition : opacity 1s;
	*/
}

#__BASECLASS__-ImgView-loader {
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
     position : absolute;
     left : 50%;
     top : 50%;
     border: 14px solid rgba(243, 243, 243, 0.67);
     border-radius: 50%;
     border-left: 14px solid #ff6922;
     width: 88px;
     height: 88px;
     animation: __BASECLASS__LoaderSpin 2s linear infinite;
     margin: -44px;
     display : none;
}

@keyframes __BASECLASS__LoaderSpin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}

.__BASECLASS__-ImgView-btn  {
	text-align : center; 
	padding : 9px; 
	box-sizing: border-box; 
	cursor : pointer; 
	background : rgba(204,204,204,0.5); 
	color : #000;
	position : absolute; 
	display : block;
	opacity : 0;
	width : 32px;
	height : 32px;
	font-weight : bold;
	padding-top: 7px;
    font-family: Tahoma, sans-serif;
	border-radius: 4px;
    padding-left: 8px;
}

.__BASECLASS__-ImgView-btn:hover, .__BASECLASS__-ImgView-btn:focus {	
	background : rgba(255,255,255,0.5); 
}

@media (max-width: 780px) {
	.__BASECLASS__-ImgView-btn:hover, .__BASECLASS__-ImgView-btn:focus {		
		background : rgba(204,204,204,0.5); 
	}
}

.__BASECLASS__-ImgView-btn-close  {
	padding-top: 9px;
}

.__BASECLASS__-ImgView-btn-prev  {
	padding-left: 7px;
}

.__BASECLASS__-ImgView-btn svg  {
	width : 16px;
}

.__BASECLASS__-ImgView-lock {
	overflow : hidden!important; 
	padding-right : 0px; 
	width : auto;
}

/* form base classes */

.__BASECLASS__-tab-list ul li {
    display: inline-block;
    width: 200px;
    height: 32px;
    background: #ffefc9;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	overflow : hidden;
	line-height:1.1;
}

.__BASECLASS__-tab-list ul li.active {
	background : #fdb201;
}

.__BASECLASS__-tab-list a {
    text-decoration: none;
    padding-top: 6px;
    width: 100%;
    height: 100%;
    display: block;
}

.__BASECLASS__-tab {
    padding-top : 24px;
	padding-left : 16px;
}

.__BASECLASS__-form-row span{
    display : inline-block;
	min-width : 170px;
	margin-right : 12px;
}

.__BASECLASS__-form-row input[type=text]{
    display : inline-block;
	width : 180px;
}

.__BASECLASS__-BaseOptions .__BASECLASS__-form-row span{
	min-width : 320px;
}

.__BASECLASS__-tab {
	
    line-height: 2;

}

.__BASECLASS__-tab h3{
	margin : 0px;
	padding : 0px;
	line-height : 32px;
}

.__BASECLASS__-DBItem {
	height: 32px;
    position: relative;
    max-width: 400px;
}

.__BASECLASS__-DBItem.active:after {
	position: absolute;
    content: " ";
    background: #81da90;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    top: 6px;
    right: 12px;
}

.__BASECLASS__-DBItem a , .__BASECLASS__-DBItem span{
	margin-right : 16px;
	
}

.__BASECLASS__-icon {

	padding: 0px; 
    margin: 0px;
    image-rendering: pixelated;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    /* vertical-align: middle; */
    position: absolute;
    top: 0px;
    left: 0px;
	background-size: 23px;
}

.__BASECLASS__-icon-diskete {
	background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAYAAAAFQMh/AAABBklEQVRIiWOcosvwnwELuOdahE2YZKC0u4+BgYGBIfvSf0ZkcSaqmE4GYIExstWhDGEIVYykKD4+niRDFy5cCGdnW0HoqXqM/xkYED4feB/DwVsozU1Ys940fRQ9l2ovYiqCysF8ftUJ4vNB5GNh+lg8YD4etZhuADNxkQAuZWHJPkSCwe1j5CKQZIAjew4+H/d+7aOpxYPHx3bXbGli0SGtwyj8weNjGJgyZQrZhurp6cHZdnZ2WNUMPh8jA0NDQ5IM/fv3L0E1g9vHxPiAVDBaLWIFzMzMJBmKLWqC10PoJm0IPbh9TI3EtTYQQl+9BaEH3sdX3+JWdOnSJYotgvkUBgbMxwCkJzuW9u9W3gAAAABJRU5ErkJggg==');
	/*background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAA3klEQVQokWNsMGT9zwAFHx1yGPAB/gNTGOrP/WJkYGBgYGFgYGDIVfnNICTEwFDEwMAQHx+PVdPChQsZ6s1+MzQasf2vP/eLkQkm8e4dpmL96QYMsq0GDMhq6s1+M+x0YfoP1ygkhNeVGICJsBLsgAWf5MXMC8RrXLhwIU7FyN5B0dj3rR+fA7Db6HDDnigNBzQOYto4ceJEnBr09fUZHBwcMG2EAUtLS6wav337hsLH0IiuABfAiEcuLi6sGAY8t7KTZ+N2758MO+8wQjSefscIl7h48SJejTvvQNQCAMIrO9Wk0d7CAAAAAElFTkSuQmCC');*/
}

.__BASECLASS__-iconset1 {
	
	image-rendering: pixelated;
	background-size: auto 22px;
	background-repeat: no-repeat;
	
    width: 28px;
	
	overflow : hidden;
	height : 22px;
}

.__BASECLASS__-iconset1-lock-closed {
	background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAABsElEQVQ4jaWUsW7UQBCGv12vb2+LFK5zSkMdeAWadHkEJJBCE0WiRog2bTp0VSQkGiqSKh3iHUKNAOmOguaKE6ycW3so1udzzo5jlF+y7J0Zfzv+NWtFpWPIbrSeAy4vSwbI78DuFBYACuAIHImeT79fZ5Jonr96S36z6qWoomB8dbVwsHsO3tQZYaxSA0lybytS1WgYr2M1KIjw/tNnAEYXl5iy9N2tKPfn8LAVNs1FKIpYK+ItTIBtmMtFZoDrBW3Jn2+BjnqKDcAIxgGQ1S2DXceLDqLRa42iT14dQ7aEb0CmlQKgFIH2Z92CNbTYgUdmCXPAWa1jWAQisOVDl3KRbAlzs4ZMf1yTWgM/P4BsWkf6KCtePj0jF3G12ak1kAJfTiE0IL97YGGTM/XnzD6CkZhcNySABkqga9DD5rEx2aG9cwq8+Rrjp/vdsBboLhX0+1RJ92Y9nOw95mTvyd3DMLSjPEj08EEd/YfaoPv/IgNASQoHr2NU4mUV2AF9bzzKq+EJwC/qGXn3olHdmJvttXoGfwFnqwMLDDK33j/evLEwyWGWiww6pB3yFib/AJXHkBfJTc7gAAAAAElFTkSuQmCC');
	bbackground-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAAAzklEQVQ4jdWUsQ3CMBBF/0Wus0FWYBVsFqCmYYHUKZiAHtHbEgshpaFmgBxF5OAEy/FhGp4UyRfZL19nx8TM8Giid5GBYyY/VpqmMbtnDwDY7Y9ZIk3EXlZJEqRQYXG+3gAAg7XJRZUxadFiMsXeD9ZG+6gcM4I+hQuSqT4+LJqdgHhMJNr2mIe2QKkEQNBsf4Zwv4gEetPORRO2ndcPYSJpkiXru3bqx6dYlMmqSNcNdN2Ui3L5B5HpvhLFr5HgELpDnuhn/1oFIHqBCaEXGYY0m735PvkAAAAASUVORK5CYII=');
	background-position-x : 0px;
}

.__BASECLASS__-iconset1-lock-open {
	background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAYAAADeiIy1AAAB2UlEQVRIia2VMW/TQBTHf892Qm5AVSSQkMhQqTP9DBbqAgszC+UbMDOwILHwKbIxgNQJJFAl8hUqZqQIpWJgiKJKdVKf7zFcGruXxLEL/+ksv/Pv3t/vvRNa6gj69+LoXMFcOYfbtUHJZjCQNpAUzIM4Oh+Oz/oSxbx49Yb8Kt8aL0WB/fIZlCxpA1qqJ50OEsU7AzVexZjWoNwpw0+nANiTEwrnso2BIiZ+8nT1eJuMyIvCL5xmM2UAhDCzh07EWvNPoEDZKAClAAr221fQCigFQzMZAJeXBZBAj/WMvLRcyhH078JP5zc0giXii9WqEsH0Ag5OYXodkILpw8RVEpBncAmYXhwhAKo0lQJz52FTeDiqZJYGLiWAMXHEcHxGt9tBxh9Alz97F3Rhef74PZnTNTdGgZ2rYuje6SCJwPe3YNUf9w83fF6TbW5Acn1y+fUREvGQYgmwlaNsGgC2GaQEgbdLg4nUBV7/8Ot3jzbDWoO2qbj9x6uKat9ewvH+Icf7h9s6pbF2ZrTIm5d7neoz+o+qB7W6req1bp1S9s596El9K7UHLXLfF7+50R/Dl5XosG9aVGQ56yJBAG0x6wDmysZZFyqZwWAPJnOnTa+KUNkFHNRBAP4CjNKjYenJaFcAAAAASUVORK5CYII=');
	bbackground-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAYAAADeiIy1AAAA60lEQVRIieWUMQ7CMAxFv6POnVl6Ba7SJBdgZuECnIATsCP2ROJCSF2YOUDNUJWmaVESGrrwpQxNbT8nsU3MjFRJoiQny0xUDx/REPtsAAB6dwjat8YAAERKZktUfON0vt4ADNl+klAqDNJaR0GFUjS33xozeovCMkPS1DaUbYyd+2+1NyLuTpRe414cv2r9mCIDBAB45vrJXe9i6HsD90sSQW6PUXbTqjOO4yOJOZJ/lQMo8SShwL7CVXdqurVQq5V3ECTLCrKsfg/KpX8DbfKBpg3rNand5wFRDeSYdcDMYHUl0A29xZCQwQujCUhET0vxPgAAAABJRU5ErkJggg==');
	background-position-x : 0px;
}

.__BASECLASS__-iconset1-arrows {
	background-position-x : -70px;
	width: 28px;
}

.__BASECLASS__-MainMenuItem-fav.active .__BASECLASS__-icon {
	background-color : #fdb201;
}

.__BASECLASS__-MainMenuItem-fav .__BASECLASS__-icon {

    background-color: rgba(239, 239, 239, 0.4);
	border-radius : 15px;
}
	
.__BASECLASS__-MainMenuItem-fav {
	width: 30px;
	text-align: center;
	height: 20px;
	position: relative;
	margin-right: 16px;
	margin-left: 16px;
}



.__BASECLASS__-MainMenuItem-fav span {
}

.kelly-Save {
	margin-top : 24px;
}

.kelly-SaveFavNew {
	font-weight : bold;
	margin-bottom : 24px;
}

.__BASECLASS__-download-container {
	margin-bottom : 24px;
}

.__BASECLASS__-download-log {
	width : 400px;
	height : 200px;
	overflow-y : auto;
	max-height : 200px;
	border: 1px solid #b7b7b7;
    padding: 6px;
    border-radius: 3px;
}


.__BASECLASS__-filters-AdditionButtons td {
	text-align: center;
    width: 33%;
    white-space: nowrap;
}
