body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 212px;
    font-size: 12px;
    font-family: 'Open Sans',Sans-serif;
    background: #ffffff;
    border: 6px solid #fff;
}

* {
    box-sizing: border-box;
}

button {
    background: #e5e5e5;
    color: #000;
    border: 1px solid;
    border-radius: 0;
    width: 100%;
    margin-bottom: 2px;
    padding: 10px 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans',Sans-serif;
    /* border-bottom: 1px solid #000; */
}

button:hover {
    background: #b7b7b7;
}

.popup-page-recorded-block {
    width: 100%;
    padding: 6px;
    color: #000000;
    margin-bottom: 2px;
    padding: 12px 7px;
}

.__BASECLASS__-recorded-block a {
    float : right;
    color: #ff610f;
}

.popup-page-button-download_recorded {
    background: #ff782a;
}

.popup-page-button-download_recorded:hover {
    background: #ff8c4a;
}

.popup-page-button-download_record span:before {
    display: inline-block;
    content: " ";
    width: 12px;
    height: 12px;
    background: #e63d3d;
    border-radius: 6px;
    margin-right: 6px;
    overflow: hidden;
    vertical-align: middle;
}

#copyright-software {
    text-align: right;
    color: #ff610f;
    background: #ffffff;
    padding: 11px 3px;
}

#copyright-software a:first-child {
    float: left;
}

#copyright-software a {
    color: #ff610f;
}