body {
    box-sizing: border-box;
    margin: 6px;
    padding: 0;
    width: 180px;
    background : #fff;
    font-size : 12px;
    font-family: 'Open Sans',Sans-serif;
}

* {
    box-sizing: border-box;
}

.__BASECLASS__-recorded-num {
    width: 100%;
    padding: 6px;
    color: #000;
    margin: 2px 0;
}

button {
    background: #e5e5e5;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    width: 100%;
    margin: 2px 0;
    padding: 5px 16px;
    font-weight: bold;
    cursor : pointer;
    position : relative;
    font-size : 13px;  
    font-family: 'Open Sans',Sans-serif;    
}

.popup-page-button-download_record span:before {
    display: inline-block;
    content: " ";
    width: 12px;
    height: 12px;
    background: #ff3b3b;
    border-radius: 6px;
    margin-right: 6px;
    overflow: hidden;
    vertical-align: middle;
}

#copyright-software a {
    color: #ff6009;
}