/* css for display extension as separate page */

html { 
    overflow-y : scroll;
}

body {
    background-color : #fff;
    min-width : 320px;
}

body, html {
	margin: 0px;
	padding: 0px; 
	
    font-size : 12px;
    
	/*
		width : 1280px;
		height : 640px;
	*/
    
    font-family: 'Open Sans',Sans-serif;
}

a {
	color: #212121;  
    font-size: 14px;
}

ul {
	margin: 0px;
	padding: 0px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,:after,:before {
    box-sizing: border-box;
}

input[type=submit] {
	background: #fb0;
	border: 0px;
	padding: 6px;
	cursor: pointer;
}

.page-content {
	padding : 50px;
	padding-top : 20px;
}

.page-content > div {
	float : left;
}

.content {
	width : 75%;
	min-height : 100px;
}

.page-content > div.clear {	
	clear : both; 
	float: none;
}

#sidebar {
	width : 25%;
	min-height : 100px;
}

#submenu {
	padding: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
	background: #ffd6a4;
	border-bottom: 1px solid #ffa429;
}

.__BASECLASS__-imagesBlock-container {
	width : 100%;
	overflow : hidden;
}

.__BASECLASS__-MainMenuItem {
	display : inline-block;
}

.__BASECLASS__-MainMenuItem a {
	background: #ffefc9;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 28px;
	text-decoration: none;
	font-size: 14px;
}

.__BASECLASS__-MainMenuItem.__BASECLASS__-MainMenuItem-fav a {
	background : transparent;
}

.__BASECLASS__-FavItemsCount.__BASECLASS__-FavItemsCount-1 {
	
	border-radius : 6px;
}

.__BASECLASS__-copyright-info a {
    font-size : 18px;
}

.options_page .__BASECLASS__-ModalBox {
    margin-top: 6px;
    margin-left: 16px;
}

.__BASECLASS__-copyright-info {
    font-size: 18px;
    float: right;
    padding-top: 4px;
}

@media (max-width: 1240px) {
    
    .content {
        width: 65%;
        min-height: 100px;
    }
    
    #sidebar {
        width: 35%;
        min-height: 100px;
    }
}
