/* css compatibility with profile */

/* unlock.js */

.__BASECLASS__-censored {
    border: 3px solid #ff843c;
    cursor: pointer;
    display: block;
    position: relative;
}

.__BASECLASS__-censored-notice {
    padding: 6px;
}

.__BASECLASS__-censored-auto,.__BASECLASS__-censored-manual {
    overflow: hidden;
}

/*
.__BASECLASS__-censored-auto img {
    width : 100%;
    max-width : 811px;
    filter : blur(20px);
} */

/* unlock.js */

.topbar_wr {
    z-index : 995;
}

.ufoot .__BASECLASS__-post-addtofav {
    font-size: 0.85rem;
}

.ufoot .__BASECLASS__-old-reactor-cc .__BASECLASS__-post-addtofav {
    font-size: 11px;
}

#submenu div div.__BASECLASS__-FavItemsCount {
    line-height: 1.2;
}

#submenu div.__BASECLASS__-MainMenuItem.active.__BASECLASS__-MainMenuItem-fav a {
    background : transparent;
}


#submenu div.__BASECLASS__-MainMenuItem.active a:hover {
    text-decoration : none;
}

.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll-buttons a.__BASECLASS__-downloader-button-save_as_json,
.__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll-buttons a.__BASECLASS__-downloader-button-save_as_txt {
    background: #ffab00;
}

.__BASECLASS__-OptionsSave-wrap input[type="submit"],
table.__BASECLASS__-options-table input[type="submit"] {
    padding: 6px;
    background-color: #ff972b;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-OptionsSave-wrap input[type="submit"],
.__BASECLASS__-old-reactor-cc table.__BASECLASS__-options-table input[type="submit"] {
    background-color: transparent;
} 

/* old m.reactor - deprecated */

.__BASECLASS__-m-reactor-cc.__BASECLASS__-MainMenuItem-fav, .__BASECLASS__-m-joyreactor-cc.__BASECLASS__-MainMenuItem-fav {
    width : 30px;
    height : 30px;
}

.__BASECLASS__-m-reactor-cc.__BASECLASS__-FavContainer, .__BASECLASS__-m-joyreactor-cc.__BASECLASS__-FavContainer {
    background: #fff;
    margin: 16px;
    max-width : 1024px;
}

.__BASECLASS__-m-reactor-cc input[type=text], .__BASECLASS__-m-joyreactor-cc input[type=text]{
    border: 1px solid #000;
    height: 30px;
}

.__BASECLASS__-m-reactor-cc .__BASECLASS__-OptionsSave-wrap input[type="submit"], 
.__BASECLASS__-m-reactor-cc table.__BASECLASS__-options-table input[type="submit"],
.__BASECLASS__-m-joyreactor-cc .__BASECLASS__-OptionsSave-wrap input[type="submit"], 
.__BASECLASS__-m-joyreactor-cc table.__BASECLASS__-options-table input[type="submit"] {
    background-color: inherit;
}

/* old m.reactor */

/* top.reactor */

.__BASECLASS__-top-joyreactor-cc .kelly-jr-ui-PreviewText-container {
    background: #666666;
}

.__BASECLASS__-top-joyreactor-cc.__BASECLASS__-FavContainer,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-tab h3,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox a,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox {
    color : #fff;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-downloader-controll button,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-filters-AdditionButtons button,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-TypeFiltersContainer button,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-btn-link {
    color: #cfcfcf;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-toolbar-collapse {
    background: #8a8a8a;
}

.__BASECLASS__-top-joyreactor-cc.__BASECLASS__-toolbar {
    background: #505050;
    color: #c7c7c7;
}

#submenu.__BASECLASS__-top-joyreactor-cc {
    height: 32px;
    white-space: nowrap;
    display : inline-block;
    float : right;
    color: #8b857b;
}

#submenu.__BASECLASS__-top-joyreactor-cc a{
    color : #8b857b;
    line-height: 25px;
}

#submenu.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-MainMenuItem.active a {
	background : transparent;
}

#submenu.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-MainMenuItem {
    display: inline-block;
    float: left;
}

#submenu.__BASECLASS__-top-joyreactor-cc div div.__BASECLASS__-FavItemsCount {
    top: -2px;
    color: #fff;
    background: rgb(237 153 0);
}

#submenu.__BASECLASS__-top-joyreactor-cc .kelly-jr-ui-icon {
    top : 8px;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-tab-list a {
    color: #000000;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-tab-list ul li {
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
    margin-top: 12px;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-DBItem {
    background-color: #4e4e4e;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-downloader-controll-rangeSwitch.active,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-DBItem.active {
    background-color: #797979;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-sidebar-wrap {
    width : 280px;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox {
    border: 0px;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox-controll-buttons a {
    padding-left: 2px;
    padding-right: 2px;    
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-tab h3 {
    font-size : 18px;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox-downloader label a {
    color: #fca91a;
}

.__BASECLASS__-top-joyreactor-cc ::placeholder, 
.__BASECLASS__-top-joyreactor-cc input[type=text],
.__BASECLASS__-top-joyreactor-cc select,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox-message,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox-header,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox-header a,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox-content input {
    background-color: #8d8d8d!important;
    color: #fff!important;
    border: 1px solid #9f9f9f;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox-header a,
.__BASECLASS__-top-joyreactor-cc ::placeholder {
    border : 0;
}

.__BASECLASS__-top-joyreactor-cc a.__BASECLASS__-FavItem-collection,
.__BASECLASS__-top-joyreactor-cc a.__BASECLASS__-FavItem-overlay-button,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-preview-text {
    background: #5d5d5d;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-FiltersMenu > li > button {
    color : #000;
    padding-left: 3px;
    padding-right: 3px;
}

.__BASECLASS__-extension-additions {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    background: #878787;
    border-radius: 6px;
    padding: 4px;
}

.__BASECLASS__-extension-additions .__BASECLASS__-fast-save, .__BASECLASS__-extension-additions .__BASECLASS__-post-addtofav {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-weight : normal;
    padding: 0;
    margin: 0; 
    color: #ffffff;
    margin-left: 3px;
    margin-right: 3px;  
}

.__BASECLASS__-extension-additions .__BASECLASS__-post-addtofav {
    border-bottom: #fff solid 3px;
    text-decoration: none;
}

.__BASECLASS__-extension-additions .kelly-jr-ui-post-addtofav:after {
    display : none;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-ModalBox-content {
    background: #303030;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-filters-AdditionButtons a {
    background-color : transparent!important;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-pagination-item {
    color: #fff;
}

.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-pagination-item.active,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-pagination-item:hover,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-pagination-item:focus,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-FavFilter.active,
.__BASECLASS__-top-joyreactor-cc .__BASECLASS__-FavEditButton.active {
    background: #fca91a;
    color: #fff;
}

.__BASECLASS__-top-joyreactor-cc.__BASECLASS__-sidebar-wrap {
    width : 280px;
}

.__BASECLASS__-FavContainer.__BASECLASS__-top-joyreactor-cc {
    background-color: #303030;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    max-width: 880px;
    min-width: 880px;
    margin: 0;
    width: max-content;
    margin-top: 24px;
}

.jras-pcLinks-img .__BASECLASS__-post-FavAdd {
    display : none;
}

#post_list div.comment .reply-link a.__BASECLASS__-addToFavComment, 
.article .ufoot div.comment .reply-link a.__BASECLASS__-addToFavComment,
.__BASECLASS__-addToFavComment {
    margin-left : 22px;
    position : relative;
    white-space : nowrap;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-ModalBox .__BASECLASS__-ModalBox-content {
    font-size : 12px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-exporter-container input[type=text] {
    margin-top : 6px;
    margin-bottom : 6px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-exporter-container .__BASECLASS__-tech-options input[type=text] {
    margin-top : 0px;
    margin-bottom : 0px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-post-addtofav {
    margin-left : 25px;
}

.__BASECLASS__-addToFavComment:after, .__BASECLASS__-post-addtofav:after  {
    content: " ";
    position: absolute;
    background: rgba(255, 120, 42, 0.51);
    width: 14px;
    height: 14px;
    border-top-right-radius: 6px;
    bottom: 1px;
    vertical-align: middle;
    left: -18px;
    top: 50%;
    margin-top: -7px;
    /* border-bottom: solid 6px #fff; */
    /* border-right: solid 4px; */
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save, .__BASECLASS__-old-reactor-cc.__BASECLASS__-sidebar-addtofav {
   
    display : inline-block;
    margin-top : 0px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tab-list ul li {
    background : #fff1bc;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tab-list ul li.active {
    background : #ffcf78;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tab-list a {
    color : #952b06;
}


.__BASECLASS__-old-reactor-cc .__BASECLASS__-ModalBox-downloader .__BASECLASS__-downloader-controll td {
    padding-bottom : 0px;
    padding-top : 0px;
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save, .__BASECLASS__-old-reactor-cc.__BASECLASS__-sidebar-addtofav {
    width: 16px;
    height: 16px;
    background-size: 16px;
    margin-left : 3px;
    margin-right : 3px;
}


.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li.flush > button {
    background-color : #aaff9b;
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save-downloaded:after, 
.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save-notdownloaded:after,
.__BASECLASS__-old-reactor-cc.__BASECLASS__-sidebar-addtofav-added:after {
    top: 6px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 12px;
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save, .__BASECLASS__-old-reactor-cc.__BASECLASS__-sidebar-addtofav {
    image-rendering: auto;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FavFilter-logic {
    margin-right: 0px;
    padding: 0;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-options-table input[type=text] {
    height: 16px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-options-table > tbody > tr > td {
    height: 26px;
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-fast-save-notdownloaded:after {
    background-color : rgba(175, 175, 175, 0.91);
}

.__BASECLASS__-old-reactor-cc.__BASECLASS__-FavContainer {

    background : #fff;
    padding: 10px 9px;
    border: 1px solid #b56b14;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    border-radius: 5px;
    background: #ffffff;
    overflow: hidden;
    
    min-height: 400px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li {
    margin-top : 3px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu {
    margin-top : 12px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li > button {
    text-decoration: none;
    text-align: center;
    background: #ffc78e;
    display: inline-block;
    border: 1px solid #fab728;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 4px;
    float: left;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tooltipster-close {
    line-height: 23px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-tooltipster-content {
    font-size : 13.33px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li > button.active {
    background: #ff5c10;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-FiltersMenu > li > button.activeIgnore {
     background : #ea8080; 
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-ModalBox .__BASECLASS__-ModalBox-content a {

    color : #000;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-pagination-item {
    line-height: 26px;
    width: 16px;
    height: 26px;
    font-size: 12px;
    padding-left : 3px;
    padding-right : 3px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__SavePostWrap input, .__BASECLASS__-old-reactor-cc .__BASECLASS__SavePostWrap select {
    display: block;
    width: 100%;    
    height: 26px;
    box-sizing: border-box;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__CatList {
    margin-bottom : 6px;
    margin-top : 6px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__Add, .__BASECLASS__-old-reactor-cc .__BASECLASS__Remove {
    width: 100%;
    float: none;
    display: block;
    box-sizing: border-box;
    margin-bottom: 6px;
    padding: 6px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-toolbar .__BASECLASS__-toolbar-right {
    padding-right: 24px;
}

.__BASECLASS__-downloader-controll button,
.__BASECLASS__-filters-AdditionButtons button,
.__BASECLASS__-TypeFiltersContainer button,
.__BASECLASS__-btn-link {
    color: #383838;
    text-transform: none;
    font-weight: normal;
    height : auto;
}

.__BASECLASS__-filters-AdditionButtons button.__BASECLASS__-iconset1 {
    height : 22px;
}

.__BASECLASS__-TypeFiltersContainer button {
    padding : 4px;
}

.__BASECLASS__-filters-AdditionButtons table button.__BASECLASS__-FavFilter {
    margin : 0px;
    padding: 0 3px;
}

.__BASECLASS__-old-reactor-cc .__BASECLASS__-filters-AdditionButtons table button.__BASECLASS__-FavFilter {
    font-size : 12px;
}

#__BASECLASS__-ModalBox.__BASECLASS__-old-reactor-cc a {
    color: #000;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav .__BASECLASS__-icon {
    width: 26px;
    height: 26px;
    border-radius: 0px;
    background-size: 16px;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav.active a,
#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav a:hover,
#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav a {
    padding-right : 0px;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav:hover {
    margin-right : 0px;
    z-index : 68;
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav.active .__BASECLASS__-icon {
    background-color: rgba(186, 186, 186, 0.5215);
}

#submenu .__BASECLASS__-old-reactor-cc.__BASECLASS__-MainMenuItem-fav {
    margin-right : 0px!important;
    margin-left: 0px!important;
}

#submenu div.__BASECLASS__-old-reactor-cc div.__BASECLASS__-FavItemsCount {
    background: rgba(237, 85, 0, 1);
}

#submenu .__BASECLASS__-old-reactor-cc div div.__BASECLASS__-FavItemsCount {
    right : -8px;
}