/* css for display extension as separate page */
/* mobile version */

@media (max-width: 1040px) {
    .page-content {
        padding: 4px;
    }
    
    #submenu {
        padding: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}   

@media (max-width: 590px) {
    
    #submenu {
        padding-left: 0;
        padding-right: 0;
    }  
}

.__BASECLASS__-mobile #sidebar {
    display : none;
}

@media (max-width: 1240px) {
    
    .content {
        width: 65%;
        min-height: 100px;
    }
    
    #sidebar {
        width: 35%;
        min-height: 100px;
    }
}

@media (max-width: 1000px) {
    
    .__BASECLASS__-additions-additions_menu {
        float : none;
        width : 100%;
        padding-top: 6px;
    }
    
    .__BASECLASS__-additions-pages{
        float : none;
        width : 100%;
    }
    
    .__BASECLASS__-active.__BASECLASS__-additions-page-item ul {
        margin: 0px;
        padding: 0px;
        margin-left: 0;
        margin-top : 12px;
    }   

    .__BASECLASS__-additions-additions_menu ul li.__BASECLASS__-additions-menu-item-li {
        margin-right: 0;
    }
}